/* Importamos una fuente moderna desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
   /*  background-color: #C1C1C1; */
    color: #f1ebeb;
    padding: 20px;
    line-height: 1.6;
    background-image: url("back.png");
}



h1, h2 {
    color: #f1f1f7;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

/* Área de texto */
textarea {
    width: 40%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #344250;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    resize: none;
}

/* Botón estilizado */
button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #344250;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}



#reiniciar:hover {
    background-color: #e4132f;
}

button:hover {
    background-color: #2980b9;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #aca4a4;
}

th, td {
    text-align: center;
    padding: 12px;
    font-size: 0.9rem;
}

thead {
    background-color: #34495e;
    color: rgb(14, 221, 83);
}

tbody tr:nth-child(even) {
    background-color: #574c5c;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    th, td {
        font-size: 0.8rem;
    }

    button {
        font-size: 1rem;
    }

    textarea {
        font-size: 0.9rem;
    }
}

/* Resultados Totales */
#resultado-totales p {
    font-size: 1.1rem;
    color: #34495e;
    text-align: center;
}

#resultado-totales span {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #536679;
}
